body{
		text-align: center;
}

.frame{
	height: 600px;
}

ul{
	text-align: center;
	color: #000;
	height: 30px;
	padding-right: 100px;
}

li{
	width: 150px;
	height: 20px;
	display: inline-block;
}

a{
	text-decoration: none;
	color: #a0a09f;
}

li:hover{
	transition-duration: 3s;
	transition-timing-function: ease;

	background-color: #bada55;

	position: relative;
}

button{
	background-color: #727272;
	width: 200px;
	height: 37px;
	font-size: 15pt;
	margin-top: 52px;
	color: #ffffff;
}

button:hover{
	background-color: #cccccc;
}

.menu{
	width: 1700px;
	margin-bottom: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
}

.title{
	background-color: #ffffff;
	width: 600px;
	height: 100px;
	font-size: 30pt;
	color: #a0a09f;
	padding-left: 60px;
	padding-right: 60px;
	position: relative;
	color: black;
	text-align: center;
	display: inline-block;
}
.login{
	border: 1px solid gray;
	height: 100px;
	width: 400px;
	position: fixed;
	top: 10px;
	right: 1000px;
	display: inline-block;
}

.container{
	height: 395px;
	overflow: auto;
}

.login{
	position: relative;
	right: 300px;
}

.content{
	width: 1000px;
	height: 220px;
	padding-top: 30px;
	margin : auto;
}

text.head{
	font-size: 40pt;
	color: #ffffff;
}

text.text{
	font-size: 10pt;
	color: #ffffff;
}

#loginButton{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    background: #1ec545;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.2);
    font-weight: 700;
    font-size: 20px;
    line-height: 55px\9;
    cursor: pointer;
    -webkit-appearance: none;  
}

table { border-collapse: collapse; margin : auto;}
td { border: 1px gray; padding: 3px; text-align: center; }
thead { background-color: #0B173B; color: white; font-weight: bold; }
tbody tr:hover { background-color: #A9D0F5; cursor: pointer; }